/* index.css */

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global */
body {
  font-family: Arial, sans-serif;
  background-color: #dad5d5;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilização da barra de navegação */
nav {
  background-color: #ff0000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 10%;
  height: 40px;
  margin-right: 10px;
}

nav span {
  font-weight: bold;
  font-size: 24px;
}

nav a {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}


nav a:hover {
  background-color: #e94545;
}

/* Estilização dos cards de notícias */
.news-card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.news-card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.news-card p {
  color: #4b5563;
}
/* Estilização dos inputs */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* Estilização dos botões */
button {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e94545;
}

/* Estilização do botão da barra de navegação */
nav .logo-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}